<%= render "shared_partials/navigation_menu", :active_item => "admin"%>

<section class="content-header no-margin">
    <h1>
        Administración
        <small>Áreas de Longbourn</small>
    </h1>
    <ol class="breadcrumb">
        <li>Administración</li>
        <li class="active">Áreas de Longbourn</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <%@areas.each do |a|%>
                <li <%=activate_tab(@active,a.id.to_s)%>>
                    <%=link_to a.areaname , {:controller => "main", :action => "area_manager", :params => {:opt => a.id}}%>
                </li>
                <%end%>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <section>
                        <%=render :partial => "area_dashboard", :locals => {:area => @selected_area, :roles => @roles, :area_users => @area_users, :system_users => @system_users}%>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
