
<!-- Barra de navegacion superior -->
<%= render "shared_partials/navbar"%>

<div class="container-fluid">
  <div class="row">
    <!-- Barra de navegacion izquierda -->
    <%= render "shared_partials/sidebar"%>


    <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Sección en Construcción</h1>
      </div>
    </div>
  </div>
</div>
