
<!-- Barra de navegacion superior -->
<%= render "shared_partials/navbar"%>

<div class="container-fluid">
  <div class="row">
    <!-- Barra de navegacion izquierda -->
    <%= render "shared_partials/sidebar"%>


    <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Sección en Construcción</h1>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>