<div id="add-attachment-button-<%=num.to_s%>" class="pull-right">
    <%=link_to "<i class='fa fa-plus-square'></i> Otro Adjunto".html_safe, {:controller => :requests, :action => :add_attachment, :params => {:num => (num.to_i+1).to_s}}, {:remote => true}%>
</div>