<div class="attachment-wrapper-<%=num.to_s%>">
	<div class="row">
		<div class="form-group col-sm-12">
		    <label>Adjuntar Archivo:</label>
		    <%=file_field_tag "attachments[]" %>
		</div>
	</div>
</div>