 
 <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu"%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Acá se deberian mostrar las requests existentes</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>