<div id="group-courses">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Nombre Curso</th>
            <th style="text-align: center; width: 100px;">Eliminar</th>
        </thead>
        <tbody>
            <%courses.each do |course|%>
            <tr>
                <td><%=course.moodleid%></td>
                <td><%=course.coursename%></td>
                <td style="text-align: center;"><%=link_to "<i class='fa fa-chevron-right'></i><i class='fa fa-chevron-right'></i>".html_safe, {:controller => :moodle_courses, :action => :destroy_assignation, :params => {:courseid => course.moodleid, :groupid => group.id}}, { :method => :delete, :data => {:confirm => "Estas Seguro?"}, :remote => true}%></td>
            </tr>
            <%end%>
        </tbody>
    </table>
</div>