  <!-- Barra de navegacion superior e izquierda -->
<%= render "shared_partials/navigation_menu", :active_item => "courses"%>

<section class="content-header no-margin">
    <h1>
        Calendario de Curso
        <small><%=@course.coursename%></small>
    </h1>
    <ol class="breadcrumb">
        <li><%=link_to "Cursos de Longbourn", :controller => :moodle_courses, :action => :index%></li>
        <li class="active">Calendario de Curso</li>
    </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-9">
			<div class="box box-info">
				<div class="box-body">
					<div id="calendar">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Sesiones del Curso</h3>
				</div>
				<div class="box-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th style="text-align:center;">Fecha</th>
							</tr>
						</thead>
						<tbody>
							<%@all_sessions.each do |s|%>
							<tr>
								<td style="text-align:center;"><%=l(s.session_date, :format => "%d / %b / %Y")%></td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
$(document).ready(function() {
    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        buttonText: {//This is to add icons to the visible buttons
            prev: "<span class='fa fa-caret-left'></span>",
            next: "<span class='fa fa-caret-right'></span>",
            today: 'today',
            month: 'month',
            week: 'week',
            day: 'day'
        },
        //Random default events
        events: gon.events,
        editable: false,
        droppable: false
    });
});
</script>