// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.request-header-table th{
	width: 120px;
	height: 30px;
}
.request-header-table{
	padding: 5;
	margin: auto;
}