<div id="hist-reports-container">
    <table class="table">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Alumnos</th>
                <th>Fecha Reporte</th>
                <th>Generar</th>
            </tr>
        </thead>
        <tbody>
            <%if reports.nil?%>
                <tr class="warning">
                    <td colspan="4">Seleccione un curso.</td>
                </tr>
            <%else%>
                <%reports.each do |report|%>
                <tr>
                    <td><%=report.coursename%></td>
                    <td><%=report.alumnos%></td>
                    <td><%=report.created_at.strftime("%d-%m-%Y")%></td>
                    <td style="text-align: center"><%=link_to (image_tag "pdf_icon.png", :size => "30x30"), {:controller => "reports", :action => "group_report", :params => {:institution => report.institution, :fullname => report.coursename, :date => report.created_at ,:filter => 1, :format => "pdf"}}, :target => "_blank" %></td>
                </tr>
               <%end%>
           <%end%>
        </tbody>
    </table>
</div>
