<div class="container">
	<h1>Cursos de Longbourn</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>Nombre del Curso</th>
			</tr>
		</thead>
		<tbody>
		<%@courses.each do |course|%>
			<tr>
				<td><%=link_to course.id, :controller => 'users', :action => 'course_members', :params => {:course_id => course.id}%></td>
				<td><%=link_to course.fullname, :controller => 'users', :action => 'course_members', :params => {:course_id => course.id}%></td>
			</tr>
		<%end%>
		</tbody>
	</table>
</div>